form(method="POST" action="/new")
  h1 Le Form
  input(type="text" id="authorName" name="authorName" placeholder="Enter Author's Name")
  input(type="text" id="messageId" name="message" placeholder="Enter your Message")
  button(type="submit") Le Submit
